name: CI
permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable, beta, nightly]
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo test --all-features
  formatting:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name: rustfmt check
        uses: actions-rust-lang/rustfmt@v1
  clippy_check:
    name: cargo clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: "Install/Update the Rust version"
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - name: clippy "No Default Features"
        run: cargo clippy --workspace --no-default-features --all-targets
      - name: clippy "Default"
        run: cargo clippy --workspace --all-targets
      - name: clippy "All Features"
        run: cargo clippy --workspace --all-features --all-targets
